* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.movieTitle {
  width: 200px;
  height: 300px;

  background-color: teal;
  border-radius: 5px;

  display: flex;
  flex-direction: column;

  margin-top: 40px;
}

.movieTitle img {
  height: 60%;
  width: 100%;
  margin-bottom: 10px;
}

.movieTitle h3 {
  font-size: 16px;
  color: aliceblue;

  margin-bottom: 10px;
}

.movieTitle p {
  font-size: 12px;
  color: azure;
}

.movieTitle h3, p {
  margin-left: 5px;
}